In [8]:
pip install pandas

Requirement already satisfied: pandas in c:\users\elhady\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\elhady\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elhady\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\elhady\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\elhady\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\elhady\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import chardet

# Find Encoding of Data

In [6]:
with open (r'C:\Users\ELHADY\Desktop\global_terrorism\globalterrorismdb_0718dist.csv','rb') as obj:
    encoding = chardet.detect(obj.read())
print(encoding)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [37]:
data = pd.read_csv("globalterrorismdb_0718dist.csv",encoding='Windows-1252')

In [4]:
data.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [55]:
data.describe()

,eventid,iyear,imonth,iday,extended,country,region,latitude,longitude,specificity,...,nkillter,nwound,nwoundus,nwoundte,property,ishostkid,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
count,1.816910e+05,181691.000000,181691.000000,181691.000000,181691.000000,181691.000000,181691.000000,177135.000000,1.771340e+05,181685.000000,...,114733.000000,165380.000000,116989.000000,112548.000000,181691.000000,181513.000000,181691.000000,181691.000000,181691.000000,181691.000000
mean,2.002705e+11,2002.638997,6.467277,15.505644,0.045346,131.968501,7.160938,23.498343,-4.586957e+02,1.451452,...,0.508058,3.167668,0.038944,0.107163,-0.544556,0.059054,-4.543731,-4.464398,0.090010,-3.945952
std,1.325957e+09,13.259430,3.388303,8.814045,0.208063,112.414535,2.933408,18.569242,2.047790e+05,0.995430,...,4.199937,35.949392,3.057361,1.488881,3.122889,0.461244,4.543547,4.637152,0.568457,4.691325
min,1.970000e+11,1970.000000,0.000000,0.000000,0.000000,4.000000,1.000000,-53.154613,-8.618590e+07,1.000000,...,0.000000,0.000000,0.000000,0.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,1.991021e+11,1991.000000,4.000000,8.000000,0.000000,78.000000,5.000000,11.510046,4.545640e+00,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.000000,-9.000000,0.000000,-9.000000
50%,2.009022e+11,2009.000000,6.000000,15.000000,0.000000,98.000000,6.000000,31.467463,4.324651e+01,1.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-9.000000,-9.000000,0.000000,0.000000
75%,2.014081e+11,2014.000000,9.000000,23.000000,0.000000,160.000000,10.000000,34.685087,6.871033e+01,1.000000,...,0.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.017123e+11,2017.000000,12.000000,31.000000,1.000000,1004.000000,12.000000,74.633553,1.793667e+02,5.000000,...,500.000000,8191.000000,751.000000,200.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

# count null in each column and delete columns with more than 100000 null

In [38]:
columns=data.columns
for col in columns:
    count_null=data[col].isnull().sum()
    if count_null >= 100000:
        data=data.drop(col,axis=1)

In [31]:
columns=data.columns
for col in columns:
    print(f" {col} : {data[col].isnull().sum()}")

 eventid : 0
 iyear : 0
 imonth : 0
 iday : 0
 extended : 0
 country : 0
 country_txt : 0
 region : 0
 region_txt : 0
 provstate : 421
 city : 435
 latitude : 4556
 longitude : 4557
 specificity : 6
 vicinity : 0
 summary : 66129
 crit1 : 0
 crit2 : 0
 crit3 : 0
 doubtterr : 1
 multiple : 1
 success : 0
 suicide : 0
 attacktype1 : 0
 attacktype1_txt : 0
 targtype1 : 0
 targtype1_txt : 0
 targsubtype1 : 10373
 targsubtype1_txt : 10373
 corp1 : 42552
 target1 : 638
 natlty1 : 1559
 natlty1_txt : 1559
 gname : 0
 guncertain1 : 380
 individual : 0
 nperps : 71115
 nperpcap : 69489
 claimed : 66120
 weaptype1 : 0
 weaptype1_txt : 0
 weapsubtype1 : 20768
 weapsubtype1_txt : 20768
 weapdetail : 67670
 nkill : 10313
 nkillus : 64446
 nkillter : 66958
 nwound : 16311
 nwoundus : 64702
 nwoundte : 69143
 property : 0
 ishostkid : 178
 scite1 : 66191
 dbsource : 0
 INT_LOG : 0
 INT_IDEO : 0
 INT_MISC : 0
 INT_ANY : 0

# check Duplicates

In [62]:
data.duplicated().sum()

0

In [54]:
col =data.columns
col

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'country',
       'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude',
       'longitude', 'specificity', 'vicinity', 'summary', 'crit1', 'crit2',
       'crit3', 'doubtterr', 'multiple', 'success', 'suicide', 'attacktype1',
       'attacktype1_txt', 'targtype1', 'targtype1_txt', 'targsubtype1',
       'targsubtype1_txt', 'corp1', 'target1', 'natlty1', 'natlty1_txt',
       'gname', 'guncertain1', 'individual', 'nperps', 'nperpcap', 'claimed',
       'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt',
       'weapdetail', 'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus',
       'nwoundte', 'property', 'ishostkid', 'scite1', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY'],
      dtype='object')

In [11]:
data.shape

(181691, 57)

# delete Unnecessary columns

In [39]:
data = data.drop(columns=['summary', 'nperps','nperpcap' , 'targsubtype1' , 'targsubtype1_txt' , 'weapsubtype1','weapsubtype1_txt' ,'weapdetail' ,'country' , 'region','scite1','nkillus' ,'nkillter' ,'attacktype1','targtype1' ,'nwoundus' ,'nwoundte','ishostkid','INT_LOG','INT_IDEO','INT_MISC','INT_ANY','natlty1','crit1','crit2','crit3','weaptype1','provstate','specificity','vicinity','doubtterr','multiple','corp1','guncertain1','claimed','dbsource'])

In [128]:
data.columns

Index(['iyear', 'imonth', 'iday', 'extended', 'country_txt', 'region_txt',
       'city', 'success', 'suicide', 'attacktype1_txt', 'targtype1_txt',
       'target1', 'natlty1_txt', 'gname', 'individual', 'weaptype1_txt',
       'nkill', 'property'],
      dtype='object')

In [129]:
data.shape

(181691, 18)

# Necessary columns

In [40]:
nessary_columns =['country_txt','region_txt','attacktype1_txt','targtype1_txt','weaptype1_txt','nkill','natlty1_txt']
data.dropna(subset=nessary_columns,inplace=True)

# Hadling missing data

In [41]:
columns=data.columns
for col in columns:
    print(f" {col} : {data[col].isnull().sum()}")

 eventid : 0
 iyear : 0
 imonth : 0
 iday : 0
 extended : 0
 country_txt : 0
 region_txt : 0
 city : 433
 latitude : 3981
 longitude : 3982
 success : 0
 suicide : 0
 attacktype1_txt : 0
 targtype1_txt : 0
 target1 : 533
 natlty1_txt : 0
 gname : 0
 individual : 0
 weaptype1_txt : 0
 nkill : 0
 nwound : 6539
 property : 0

In [42]:
common_latitude=data['latitude'].mode()
common_latitude

0    33.303566
Name: latitude, dtype: float64

In [27]:
data['latitude']

0         18.456792
1         19.371887
2         15.478598
5         37.005105
6        -34.891151
            ...
181686     2.359673
181687    35.407278
181688     6.900742
181689    24.798346
181690     7.209594
Name: latitude, Length: 169854, dtype: float64

In [52]:
data['longitude']=data['longitude'].astype(str)

In [55]:
data['latitude']=data['latitude'].astype(str)

In [56]:
data['latitude']=data['latitude'].fillna(data['latitude'].mode())

In [53]:
data['longitude']=data['longitude'].fillna(data['longitude'].mode())

In [48]:
data['nwound']=data['nwound'].fillna(data['nwound'].mean())

In [62]:
data['target1']=data['target1'].fillna(data['target1'].mode())

In [65]:
data=data.drop(columns=['city'])

In [67]:
data.fillna('Unknown',inplace=True)

In [68]:
columns=data.columns
for col in columns:
    print(f" {col} : {data[col].isnull().sum()}")

 eventid : 0
 iyear : 0
 imonth : 0
 iday : 0
 extended : 0
 country_txt : 0
 region_txt : 0
 latitude : 0
 longitude : 0
 success : 0
 suicide : 0
 attacktype1_txt : 0
 targtype1_txt : 0
 target1 : 0
 natlty1_txt : 0
 gname : 0
 individual : 0
 weaptype1_txt : 0
 nkill : 0
 nwound : 0
 property : 0

In [123]:
data.head()

,iyear,imonth,iday,extended,country_txt,region_txt,city,success,suicide,attacktype1_txt,targtype1_txt,target1,natlty1_txt,gname,individual,weaptype1_txt,nkill,property
0,1970,7,2,0,Dominican Republic,Central America & Caribbean,Santo Domingo,1,0,Assassination,Private Citizens & Property,Julio Guzman,Dominican Republic,MANO-D,0,Unknown,1,0
1,1970,5,15,0,Mexico,North America,Mexico city,1,0,Hostage Taking (Kidnapping),Government (Diplomatic),"Nadine Chaval, daughter",Belgium,23rd of September Communist League,0,Unknown,0,0
2,1970,1,15,0,Philippines,Southeast Asia,Unknown,1,0,Assassination,Journalists & Media,Employee,United States,Unknown,0,Unknown,1,0
5,1970,1,1,0,United States,North America,Cairo,1,0,Armed Assault,Police,Cairo Police Headquarters,United States,Black Nationalists,0,Firearms,0,1
6,1970,1,2,0,Uruguay,South America,Montevideo,0,0,Assassination,Police,Juan Maria de Lucah/Chief of Directorate of in...,Uruguay,Tupamaros (Uruguay),0,Firearms,0,0

# change Datatype

In [69]:
data['nkill']=pd.to_numeric(data['nkill'],errors='coerce')

In [70]:
data.dtypes

eventid              int64
iyear                int64
imonth               int64
iday                 int64
extended             int64
country_txt         object
region_txt          object
latitude            object
longitude           object
success              int64
suicide              int64
attacktype1_txt     object
targtype1_txt       object
target1             object
natlty1_txt         object
gname               object
individual           int64
weaptype1_txt       object
nkill              float64
nwound             float64
property             int64
dtype: object

In [71]:
data['nkill']=data['nkill'].astype(int)

In [74]:
data['nwound']=data['nwound'].astype(int)

In [76]:
data.dtypes

eventid             int64
iyear               int64
imonth              int64
iday                int64
extended            int64
country_txt        object
region_txt         object
latitude           object
longitude          object
success             int64
suicide             int64
attacktype1_txt    object
targtype1_txt      object
target1            object
natlty1_txt        object
gname              object
individual          int64
weaptype1_txt      object
nkill               int32
nwound              int32
property            int64
dtype: object

In [77]:
# common_value=data['imonth'].mode()
# common_value =5
data['imonth'].replace(0,5,inplace=True)

In [78]:
# common_value=data['iday'].mode()
# common_value = 15
data['iday'].replace(0,15,inplace=True)

# change text to cosistent format

In [80]:
columns_text=['country_txt','region_txt','attacktype1_txt','targtype1_txt','target1','natlty1_txt','gname','weaptype1_txt']
for col in columns_text:
    data[col]=data[col].str.lower().str.strip()

# rename columns

In [81]:
data= data.rename(columns={'iyear':'Year','imonth':'Month','iday':'Day','extended':'Extended','country_txt':'Country','region_txt':'Region','success':'Success','suicide':'Suicide','attacktype1_txt':'Attacktype','targtype1_txt':'Targtype','target1':'Target','natlty1_txt':'Natlty','gname':'Gname','individual':'Individual','weaptype1_txt':'Weaptype','nkill':'Nkill','property':'Property'})

# save cleaned dataset

In [82]:
data.to_csv("globalterrorismdb_cleaned.csv")